@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

body{
    font-family: 'Inter', sans-serif;
};

.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 1.2rem;
    gap: 5px;
}

.pagination .page-num{
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.pagination .page-num:hover{
    background-color: aqua;
    color: #fff;
}